In [25]:
pip install snap-stanford

Requirement already satisfied: snap-stanford in c:\tools\anaconda3\lib\site-packages (6.0.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.0; however, version 21.1.1 is available.
You should consider upgrading via the 'C:\tools\Anaconda3\python.exe -m pip install --upgrade pip' command.

In [26]:
pip install networkx

Requirement already satisfied: networkx in c:\tools\anaconda3\lib\site-packages (2.5)
Requirement already satisfied: decorator>=4.3.0 in c:\users\98ric\appdata\roaming\python\python38\site-packages (from networkx) (4.4.2)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.0; however, version 21.1.1 is available.
You should consider upgrading via the 'C:\tools\Anaconda3\python.exe -m pip install --upgrade pip' command.

In [27]:
import sys
import snap
import networkx as nx
import pandas as pd
import numpy as np

In [4]:
all_activity = pd.read_csv('higgs-activity_time.txt', delimiter = " ", names=["SRC", "DST", "TIME", "TYPE"])

In [31]:
retweet_activity = all_activity[all_activity["TYPE"] == "RT"]

In [32]:
retweet_activity.drop(columns=["TYPE"], inplace=True)

C:\tools\Anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [33]:
retweet_activity.sort_values(by=["TIME"])

           SRC    DST        TIME
2       376989  50329  1341101181
4       376989  13813  1341101192
5       453850      8  1341101208
7        99258  50329  1341101263
12       75083  84647  1341101732
...        ...    ...         ...
563060  408262   1062  1341705467
563061   97883  93318  1341705471
563062  163241   2567  1341705522
563067  178085   1062  1341705574
563068   23996    253  1341705593

[354930 rows x 3 columns]

In [51]:
n = 10
retweet_activity_reduced = retweet_activity.drop(columns=["TIME"])
retweet_activity_reduced = retweet_activity_reduced.head(int(len(retweet_activity_reduced)*(n/100)))

In [52]:
retweet_activity_reduced['COUNT'] = np.zeros(len(retweet_activity_reduced))
retweet_activity_reduced_grupped = retweet_activity_reduced.groupby(["SRC", "DST"]).count()

In [53]:
retweet_activity_reduced_grupped

              COUNT
SRC    DST
4      26486      1
28     1988       1
       2151       1
36     7501       1
46     15207      1
...             ...
455766 50361      1
455831 8208       1
455846 1852       1
455851 519        1
455899 74828      1

[33657 rows x 1 columns]

In [54]:
retweet_activity_reduced_grupped.to_csv("higgs-retweet_network_reduced.edgelist", sep=" ", header=False)